body {
    margin: 0;
    padding: 0;
}

/* Header stuff */

header {
    font-family: 'Garamond', 'Times New Roman';
    background-image: url('images/backgroundimage.JPG');
}

#logo {
    text-align: center;
}

h1 {
    color: #8c3920;
    font-size: 55px;
    text-align: center;
}


h2 {
    /*color: #696969;*/
    color: #000000;
    font-size: 35px;
    text-align: center;
}

h3 {
    color: #8c3920;
    font-size: 30px;
    font-family: 'Courier New';
}

/* Nav bar */

.nav {
    border: 1px solid #ccc;
    border-width:1px 0;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #E1AD9D;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

header h1 {
    color: #E1AD9D;
}

.nav li {
    display: inline;
    border:1px solid #ccc;
    border-width:100%;
    position: sticky;
    top: 0;
}

.nav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #696969;
}


.nav li a:active {
    background-color: #C0C0C0;
    color: white;
}

ul.nav li a.active{
    color: white;
    background-color: black;
}


/* Paragraphs */

p {
    font-family: 'Garamond', 'Times New Roman';
    color: #696969;
    font-size: 30px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 500px){
p {
    width: 100%;
}

}

/* Projects page */

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h3 {
    text-align: center;
}


iframe {
    width: 90vw;
    height: 40vw;
    margin: 30px 60px;
}

#project2 iframe {
    margin-left: 130px
}

#project3 iframe {
    margin-right: 100px
}


/* Index page */

#main_content h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 7.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.pictures {
    text-align: center;
}

.pictures img {
    width:  250px;
    height: 250px;
    margin: 50px 10px;
}

/* Contact Page */

#map {
    height: 400px;
    width: 70%;
    text-align: center;
    display: block;
    margin: auto;
    border: 5px solid black;
    padding: 10px;
}

#email {
    text-decoration: none;
    color: #8c3920;
    text-align: center;
}

#email a {
    color: inherit; 
}

/* Footer */

footer { 
    display: inline;
}

footer p {
       font-size: 15px;
}

.social {
   float: center;
   text-align: center;
   overflow: auto; 
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    -webkit-margin-before: 0em;


}

@media all and (min-width: 450px){
.social ul li {
    display: inline-block;
}

}

@media all and (max-width: 1000px){
    p {
        width: 90%;
    }

    .nav li a {
        display: block;
    }

    header {
        margin-top: 240px;
    }
}

@media all and (max-width: 600px){
    p {
        width: 100%;
    }

    .nav li {
        display: block;
    }

        header {
        margin-top: 165px;
    }

    .projects {
    display: inline-block;
}


}


